<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :name%>
      <%= f.text_field :name, class: "form-control form-control-lg"%>
  </div>
  <div class="form-group">
      <%= f.label :address%>
      <%= f.text_field :address, class: "form-control form-control-lg"%>
  </div>
  <div class="form-group">
      <%= f.label :email%>
      <%= f.text_field :email, class: "form-control form-control-lg"%>
  </div>
  <div class="form-group">
      <%= f.label :pay_type%><br>
      <%= f.select :pay_type, Order::PAYMENT_TYPES, promt: 'Select payment mathod'%>

  </div>
  <br>
  <div class="col-xs-3">

  </div>
  <div class="col-xs-2">
      <%= f.submit 'Place Order', class: 'btn btn-primary sharp' %>
  </div>


<% end %>
