<div class="product-new">
      <%= form_for(product) do |f| %>
          <% if product.errors.any? %>
              <div id="error_explanation">
                    <h2><%= raw t('errors.template.header', count: @order.errors.count,
                                  model: t('activerecord.models.order'))%>.</h2>
                    <p><%= t('errors.template.body')%></p>

                    <ul>
                          <% product.errors.full_messages.each do |msg| %>
                              <li><%= raw msg%></li>
                          <% end %>
                    </ul>
              </div>
          <% end %>

          <div class="form-group">
                <%= f.label :title%>
                <%= f.text_field :title, class: "form-control form-control-lg"%>
          </div>
          <div class="form-group">
                <%= f.label :description%>
                <%= f.text_area :description, class: "form-control form-control-lg", rows:"5", id:"comment" %>
          </div>
          <div class="form-group">
                <%= f.label :image_url%>
                <%= f.text_field :image_url, class: "form-control form-control-lg"%>
          </div>
          <div class="form-group">
                <%= f.label :price%>
                <%= f.text_field :price, class: "form-control form-control-lg"%>
          </div>

          <br>
          <div class="col-sm-6 col-sm-offset-5">
                <%= f.submit  class: 'btn btn-primary sharp' %>
          </div>



      <% end %>

</div>
