<div class="panel panel-default">
  <div class="panel-heading">
      <h1>Listing products</h1>
  </div>
  <div class="panel-body">

      <table class="table table-striped">
          <% @products.each do |product| %>

            <tr class="<%= cycle('list-line-odd', 'list-line-even')%>">

              <td>
                <%= image_tag(product.image_url, class: 'list-image')%>
              </td>

              <td class="list-description">
                <dl>
                  <dt><%= product.title%></dt>
                  <dd><%= truncate(strip_tags(product.description), length: 80)%></dd>
                </dl>
              </td>


                <td>
                        <%= link_to  product  do%>
                          <i class="fa fa-info fa-lg" aria-hidden="true"></i>
                        <%end%><br/> <br>
                </td>
                <td>
                        <%= link_to  edit_product_path(product) do %>
                              <i class="fa fa-pencil fa-lg" aria-hidden="true"> </i>
                        <%end%><br/>
                </td>
                <td>
                        <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                        <%end%>
                </td>
            </tr>
          <%end%>

      </table>
      <br/>
      <div class="col-md-5">

      </div>
      <div class="col-md-3">

        <%= link_to "NEW", new_product_path, style: "background: #2fd64d;
        border: none;
        padding: 15px;
        color: #fff;
        font-weight: bold;
        font-size: 20px;",
        class: "new"%></td>


      </div>
  <br>  <br> 

    </div>
  </div>
